@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;

}
body {
font-family: "Plus Jakarta Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --red: #dc3545;
}

/*! -------------- 1- NAVBAR ---------------- */
.navbar {
  font-size: 16px;
  font-weight: 500;
}
.navbar li a {text-decoration: none;}
.nav-link {
  font-family: Plus Jakarta Sans;
  color: black;
  transition: color 0.5s;
  text-decoration: none;
}
a{
  transition: color 0.5s;
}
.reqDemoBtn {
  background: #5D48EC;
  border-radius: 11px;
  color: #fff;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  padding: 20px 30px;
  text-decoration: none;

}
#navbarSupportedContent .reqDemoBtn{
  padding: 19px 30px;
}
.ul_nav {
  display: flex;
  align-items: center;
}
.content_sec_1 h1{

  font-size: 68px;
  line-height: 80px;
}
a.nav-link.reqDemoBtn {
  margin-left: 26px;
}
.nav-link:hover {
  color: #000;
}

a.gpuBtn {
  background: #5D48EC80;
  color: #fff;
  padding: 10px 35px;
  text-decoration: none;
  border-radius: 20px;
}
.reqDemoBtn:hover {
	color: #000;
}
main.homePage {
  margin-top: -645px;
}
.mrgn_btm {
	margin-bottom: 40px;
}
/*! ------------- 2- CAROUSEL --------------- */
.carousel-item {
  max-height: calc(100vh - 88px);
}

.carousel-item h5 {
  color: var(--red);
  font-size: 2.5rem;
  text-shadow: 3px 3px 3px black;
}

.carousel-item p {
  text-shadow: 3px 3px 3px black;
  font-weight: 600;
}

.carousel-item .btn {
  width: 7rem;
  margin-bottom: 1rem;
}
.carousel-indicators button {
  background-color: var(--red) !important;
  height: 0.4rem !important;
  width: 3rem !important;
  margin-right: 0.5rem !important;
}
.carousel-caption {
  bottom: 5rem;
}

/*! ------------ 3- ABOUT SECTION ----------- */

/*! ------------- 4- INSTRUCTORS -------------*/
section#instructors .card {
  transition: transform 0.5s;
}

section#instructors .card:hover {
  transform: scale(1.05);
}

section#instructors .socials i {
  transition: opacity 0.5s;
}

section#instructors .socials i:hover {
  opacity: 0.5;
}

/*! ----------- 4- STUDENTS SECTION ----------*/
section#students img {
  max-width: 400px;
  min-width: 200px;
}

/*! ----------- 5- COURSES SECTION ----------- */
section#courses .nav-link.active {
  background-color: var(--red);
}
section#courses .nav-link {
  color: white;
}

/*! ----------- 6- CONTACT SECTION ------------ */

/*! --------------- 7- FOOTER ----------------- */
footer i {
  font-size: 2rem;
  color: white;
  margin-right: 0.8rem;
  transition: color 1s;
}

footer i:hover {
  color: var(--red);
}

/** -------------- UP-BUTTON ------------------ */
.btn-up {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: white;
  background-color: var(--red);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  text-decoration: none;
}

.btn-up:hover {
  color: black;
}

.btn-up:hover i {
  transform: scale(1.2);
  font-size: 1.4rem;
}
body#body {
  overflow-x: hidden;
}
.headerSection {
  background-image: url("../public/images/background.png");
  width: 100%;

    background-size: 100% 100%;
  background-repeat: no-repeat;
}
footer.footerContainer {
  background-image: url("../public/images/footer_bg.png");
  background-repeat: no-repeat;
  background-color: #5D48EC;
  height: auto;
  padding-bottom: 20px;
  padding-top: 50px;
  background-position: left;
  background-size: 100% 100%;
}
.pt-50 {
  padding-top: 50px;
}
.mb-20 {
  margin-bottom: 20px;

}
.ms-6
{
  margin-left:65px;
}

.footerContainer .navbar-brand
{
  float: left;
  width: 100%;
}
.ft_top a.nav-link {
  color: #fff;
}
.ft_top a.nav-link:hover {
  color: #000;
}
section#homeSec5 {
  background: #F4F8FC;
  padding: 80px 100px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin: 80px auto;
}
.content_sec_5 {
  float: left;
  width: 100%;
  display: block;
}
.content_sec_5 .img1 {
  width: 100%;
  margin-top: -40px;
}
.accordion-button .icon-toggle {
  transition: transform 0.3s ease;
}
.content_sec_4 .accordion-item {
  border: none;
}
.content_sec_4 button.accordion-button {
  border: 1px solid #1111111A;
  background: #F8F9FB;
  border-radius: 10px !important;
  margin: 8px 0px;
}
#homeSec3 .content_sec_3 p.text-center {
  width: 60%;
  margin: 10px auto;
  color: #333333;
}

#homeSec3 .postItem .content_sec_3 {
  border: 1px solid #0000001A;
  float: left;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: block;
  background-color: #fff;
}

.postItem .content_sec_3 p {
  color: #787878;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  width: 100%;
  font-size: 18.1px;
  line-height: 31.74px;
  letter-spacing: -0.54px;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}
.postItem .content_sec_3 img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
/* .mt-100
{
  margin-top: 100px;
} */
.postItem .content_sec_3 h5.text-center {
  margin-top: 35px;
}
.mt-20
{
  margin-top: 20px;
}
.content_sec_2 img {
  width: 85%;
  display: block;
  height: auto;
  margin: 0 auto;
}
section#homeSec2 {
  margin-bottom: 100px;
}
main.featurePage, main.servicePage {
  margin-top: -150px;
}
.mt-200 {
  margin-top: 100px;
}
#featureSec2  .content_sec_2 p.text-center {
  width: 60%;
  display: block;
  margin: 25px auto;
  color: #333333;
}
section#featureSec5 {
  background: #F4F8FC;
  padding: 80px 100px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin: 80px auto;
}
.featurePage section#featureSec4 ,.featurePage section#featureSec4_2 ,.featurePage  section#featureSec4_5,.servicePage #featureSec4 ,.servicePage #featureSec4_2,.servicePage  #featureSec4_5 {
  background: #F5F3FF;
}
.content_sec_4_1 {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.content_sec_4_1 img {
  margin-bottom: 20px;
}
.content_sec_4 {
  width: 100%;
  margin: 0 auto;
}

.content_sec_4 h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.content_sec_4 .monetization_p {
  margin-bottom: 30px;
}

.content_sec_4_2 {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background: #fff;
  padding: 25px 5px;
  overflow: hidden;
}

.content_sec_4_2 h6 {
  font-size: 20px;
  margin-bottom: 10px;
}

.content_sec_4_2 p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  padding: 0 5px;
}

.content_sec_4_2 img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: auto;
}

.featurePage #featureSec4_4 img {
  border-radius: 20px;
}
.servicePage #featureSec3 img {
  border-radius: 20px;
}
.servicePage  #featureSec4 img, .servicePage  #featureSec4_2 img,.servicePage  #featureSec4_5 img{
  width: 100%;
  padding-right: 50px;
}
.swiper-backface-hidden .swiper-slide {
  padding: 0px 50px;
}
.swiper-button-prev:after, .swiper-button-next:after
{
font-size: 32px !important;
}
.postItem .content_sec_3 p.text-center {
  width: 100% !important;
}
.logoutBtn
{
  margin-bottom: 50px;
}
.footerContainer h5 {
  color: #fff;
}
.pt-80
{
  padding-top: 80px;;
}
.accordion-item
{
  background: none;
  box-shadow:none;
  border: none !important;
}
.app-brand-logo img{
  margin: 0px auto;
  display: block;
}
button.loginBtn {
  margin: 0px auto;
}

button.btn.btn-primary.pagesaveBtn {
  float: right;
  margin: 10px 0px;
}


.gpuBtn {
  background: #5D48EC80;
  color: #fff;
  padding: 10px 35px;
  text-decoration: none;
  border-radius: 20px;
  display: inline-block;
  text-align: center; /* Ensures text is centered */
  white-space: normal; /* Allows text to wrap */
  word-wrap: break-word; /* Ensures text breaks into the next line if it overflows */
  line-height: 1.4; /* Adjust line height for better spacing */
}

/* 25/04/2025 css */
p{
  font-size: 18px;
}
.postItem .content_sec_3 h5.text-center {
	margin-top: 35px;
}
.banner_btn .reqDemoBtn {
	display: inline-block;
  margin-top: 30px;
}
#homeSec3 h5{
  font-size: 24px;
}
#homeSec3 {
	padding-bottom: 100px;
}

.accordion-item button {
	font-size: 22px;
	font-weight: 500;
}
.content_sec_5 a {
	margin-top: 20px;
	display: inline-block;
}
.ft_copyright {
	border-top: 1px solid #9F9F9F;
	padding-top: 20px;

}
.ft_top {
	padding-bottom: 50px;
}

#featureSec4 h6,#featureSec4_1 h5,#featureSec2 h5,#featureSec4_2 h6,#featureSec4_3 h5,#featureSec4_5 h6,#featureSec3 h5,#featureSec4 h5,#featureSec4_2 h5,#featureSec4_5 h5{
  font-size: 24px;
}
.feature2 {
	margin-bottom: 50px;
	display: block;
}
#featureSec4_2 img {
	max-width: 300px
}
.advance_text p {
	margin-bottom: 50px;
}
.text-center.monetization_p , .featureSec4_3_p {
	margin-bottom: 50px;
}
.ftry6_btm {
	margin-bottom: 20px;
}
.content_sec_4_1 h6 {
	margin: 30px 0;
}
.dev_sec1 {
	margin-bottom: 20px;
}
#featureSec4 h3 {

  margin-bottom: 40px;
}
.font-40{
  font-size: 40px;
  margin-bottom: 30px;
}
.content_sec_1 h2 {
	font-size: 48px;
	font-weight: 500;
}
.security_en {
	max-width: 900px;
	margin: 0 auto 50px;
}
.navbar-nav .nav-item .nav-link {
	padding-top: 0;
	margin: 0 10px;
}
#featureSec4_5 {
	padding-top: 50px;
  padding-bottom: 50px;
}
#featureSec2 {
	padding-top: 50px;
  padding-bottom: 50px;
}
/* Mobile-specific adjustments for button */
@media (max-width: 576px) {
  .gpuBtn {
      padding: 10px 20px; /* Reduce padding on small screens */
      font-size: 14px; /* Adjust font size */
      max-width: 100%; /* Ensure the button width takes full available width */
  }
}

@media (max-width:1199px) {
#featureSec4_1 img{
width: 100%;
}
#featureSec4 {
	margin-top: 40px;
}
#featureSec4_3 img {
	width: 100%;
}
}

/* Responsive Design */
@media (max-width: 992px) {

  .gpuBtn {
      font-size: 14px;
      padding: 8px 16px;
  }
  h1 {
      font-size: 2.2em;
  }
  .content_sec_1 {
      max-width: 90%;
  }
  /* 25/04/2024 */
  .content_sec_1 h1 {
    font-size: 50px;
    line-height: 60px;
  }
  #homeSec3 h5 {
    font-size: 18px;
  }
p{
  font-size: 16px;
}
#featureSec4_5,#featureSec4_5 {
	padding-top: 50px;
	padding-bottom: 50px;
}

.postItem .content_sec_3 p {

	font-size: 16px;
	line-height: 24px;
}
section#homeSec5 {
	background: #F4F8FC;
	padding: 80px 40px;

}
#featureSec4 h6, #featureSec4_1 h5, #featureSec2 h5, #featureSec4_2 h6, #featureSec4_3 h5, #featureSec4_5 h6, #featureSec3 h5, #featureSec4 h5, #featureSec4_2 h5, #featureSec4_5 h5 {
	font-size: 18px;
}
.content_sec_1 h2 {
	font-size: 35px;
	font-weight: 500;
}
.content_sec_2 h2,.content_sec_4 h2 {
	font-size: 30px;
}
#featureSec4_1 img {
	width: 100%;
}
.navbar-nav .reqDemoBtn{
  display: inline-block;
}
.navbar-nav .nav-item .nav-link {
	padding-top: 0;
	margin: 0 10px 20px;
}
#basic-navbar-nav {
	margin-top: 15px;
}
.secondcol .mt-5 {
	margin-top: 0 !important;
}
#featureSec4_2 img {
	max-width: 100%;
  position: unset;
}
.content_sec_4_2 {
	position: unset;
	padding: 12px 5px;
	padding-bottom: 10px !important;
}
#featureSec3 img{
  width: 100%;
}
.font-40 {
	font-size: 34px;
	margin-bottom: 30px;
}
.content_sec_4 h2 {
  font-size: 26px;
}
.content_sec_4_2 h6 {
  font-size: 18px;
}
}

@media (max-width: 768px) {
  h1 {
      font-size: 1.8em;
  }
  .gpuBtn {
      font-size: 14px;
      padding: 8px 15px;
  }
  .reqDemoBtn {
      font-size: 14px;
      padding: 10px 20px;
  }
  /* 25/04/2025 */
  .content_sec_1 h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .content_sec_5 h2{
    line-height: normal;
  }
  section#homeSec5 {
    background: #F4F8FC;
    padding: 80px 40px;
  }
  h2{
    line-height: normal;
  }
  .postItem {
    margin-bottom: 30px;
  }
  .accordion-item button {
    font-size: 18px;
    font-weight: 500;
  }
  #featureSec4_3 img {
    width: 100%;
  }
  .col-md-2.mt-5.secondcol {
    margin-top: 0 !important;
  }

  /* content_sec_4 responsive styles */
  .content_sec_4 h2 {
    font-size: 24px;
  }

  .content_sec_4_2 {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  h1 {
      font-size: 1.6em;
  }
  .gpuBtn {
      font-size: 13px;
      padding: 7px 14px;
  }
  .reqDemoBtn {
      font-size: 13px;
      padding: 8px 18px;
  }
  /* 25/04/2025 */
  .content_sec_1 h1 {
    font-size: 34px;
    line-height: 40px;
  }
  section#featureSec5 {
    background: #F4F8FC;
    padding: 40px 40px;
    padding-bottom: 10px;
    border-radius: 10px;
  }
  .font-40 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  /* content_sec_4 responsive styles */
  .content_sec_4 {
    padding: 0 10px;
  }

  .content_sec_4 h2 {
    font-size: 22px;
  }

  .content_sec_4_2 {
    padding: 10px 5px;
  }
}


@media (max-width:480px) {
  .content_sec_1 h1 {
    font-size: 30px;
    line-height: 40px;
  }
}

section#featureSec4_2 {
  margin-top: 100px;
}

section#featureSec4_1 {
  margin-top: 100px;
}

section#featureSec4_2 {
  margin-bottom: 100px;
}

section#featureSec4_3 {
  margin-bottom: 100px;
}

section#featureSec4 {
  margin-top: 100px;
}

@media (max-width: 767.98px) {
  #featureSec2 .content_sec_2 p.text-center {
    width: 92%;
    margin: 0 auto;
  }
}
